In [2]:
import numpy as np
import pandas as pd
from tabulate import tabulate
import matplotlib as mpl
import matplotlib.pyplot as plt
import utils 
import seaborn as sns
%matplotlib inline
font_path = r'C:\WINDOWS\Fonts\malgun.ttf' # 한글 폰트 깨짐 방지
utils.set_Koreantxt(font_path)

[폰트 설정]
Malgun Gothic

# 여름은 언제 올까용 
- 20°C 이상 : 일평균 기온이 20°C 초과
- 폭염: 일 최고 기온이 33°C 이상일 때 폭염
- 열대야 기준: 밤(18시~익일 9시) 동안 기온이 25°C 이상 지속되면 열대야

In [ ]:

df_1984 = pd.read_csv('analyze_radiation_1984.csv')
df_1985 = pd.read_csv('analyze_radiation_1985.csv')
df_1986 = pd.read_csv('analyze_radiation_1986.csv')
df_1987 = pd.read_csv('analyze_radiation_1987.csv')
df_1988 = pd.read_csv('analyze_radiation_1988.csv')
df_1989 = pd.read_csv('analyze_radiation_1989.csv')
df_1990 = pd.read_csv('analyze_radiation_1990.csv')
df_1991 = pd.read_csv('analyze_radiation_1991.csv')
df_1992 = pd.read_csv('analyze_radiation_1992.csv')
df_1993 = pd.read_csv('analyze_radiation_1993.csv')
df_1994 = pd.read_csv('analyze_radiation_1994.csv')
df_1995 = pd.read_csv('analyze_radiation_1995.csv')
df_1996 = pd.read_csv('analyze_radiation_1996.csv')
df_1997 = pd.read_csv('analyze_radiation_1997.csv')
df_1998 = pd.read_csv('analyze_radiation_1998.csv')
df_1999 = pd.read_csv('analyze_radiation_1999.csv')
df_2000 = pd.read_csv('analyze_radiation_2000.csv')
df_2001 = pd.read_csv('analyze_radiation_2001.csv')
df_2002 = pd.read_csv('analyze_radiation_2002.csv')
df_2003 = pd.read_csv('analyze_radiation_2003.csv')
df_2004 = pd.read_csv('analyze_radiation_2004.csv')
df_2005 = pd.read_csv('analyze_radiation_2005.csv')
df_2006 = pd.read_csv('analyze_radiation_2006.csv')
df_2007 = pd.read_csv('analyze_radiation_2007.csv')
df_2008 = pd.read_csv('analyze_radiation_2008.csv')
df_2009 = pd.read_csv('analyze_radiation_2009.csv')
df_2010 = pd.read_csv('analyze_radiation_2010.csv')
df_2011 = pd.read_csv('analyze_radiation_2011.csv')
df_2012 = pd.read_csv('analyze_radiation_2012.csv')
df_2013 = pd.read_csv('analyze_radiation_2013.csv')
df_2014 = pd.read_csv('analyze_radiation_2014.csv')
df_2015 = pd.read_csv('analyze_radiation_2015.csv')
df_2016 = pd.read_csv('analyze_radiation_2016.csv')
df_2017 = pd.read_csv('analyze_radiation_2017.csv')
df_2018 = pd.read_csv('analyze_radiation_2018.csv')
df_2019 = pd.read_csv('analyze_radiation_2019.csv')
df_2020 = pd.read_csv('analyze_radiation_2020.csv')
df_2021 = pd.read_csv('analyze_radiation_2021.csv')
df_2022 = pd.read_csv('analyze_radiation_2022.csv')
df_2023 = pd.read_csv('analyze_radiation_2023.csv')
df_2024 = pd.read_csv('analyze_radiation_2024.csv')

X 독립변수 = df[['radiation_short', 'radiation_long', 'month', 'day', 'temp']]

y 종속변수 = df['summer_start'] - 여름이 시작되는 날_일평균 기온이 25℃ 이상인 날이 5일 이상 연속되는 첫날

In [7]:
df_temp = df.iloc[:,[0,4,5,6]]

In [8]:
# 25도 이상인 날들...
summer_days = df_temp[df_temp['temp'] >= 25]
summer_days

             Date  radiation_short  radiation_long   temp
183    1984-07-02           212.49           10.18  26.10
184    1984-07-03           274.52           10.19  26.79
189    1984-07-08           114.03           10.40  25.32
190    1984-07-09           163.27           10.51  25.02
196    1984-07-15           221.84           10.16  25.20
...           ...              ...             ...    ...
14869  2024-09-16           102.35           10.66  25.38
14870  2024-09-17           204.88           10.40  27.13
14871  2024-09-18           159.92           10.67  27.58
14872  2024-09-19           157.62           10.56  27.24
14873  2024-09-20            66.46           10.80  25.56

[1185 rows x 4 columns]

In [9]:
summer_days.describe()

       radiation_short  radiation_long         temp
count      1185.000000     1185.000000  1185.000000
mean        219.705308       10.000819    26.387941
std          64.807411        0.303490     1.074813
min          28.720000        8.210000    25.000000
25%         175.620000        9.850000    25.550000
50%         233.990000       10.030000    26.110000
75%         270.150000       10.200000    27.060000
max         339.920000       10.940000    30.630000

In [10]:
# 25도 이상=1, 아니면 0
hot_days = (df_temp['temp'] >= 25)
print(hot_days.unique())

hot_days = (df_temp['temp'] >= 25).astype(int)
print(hot_days.unique())

hot_days = (df_temp['temp'] >= 25).astype(int).values
print(hot_days)

[False  True]
[0 1]
[0 0 0 ... 0 0 0]

In [11]:
summer_df = []

# 연속 5일 체크
for i in range(len(hot_days) - 4):
    if np.sum(hot_days[i:i+5]) == 5:
        print(f"\n여름 시작일: {df_temp.loc[i, ['Date', 'temp']]}")
        summer_st = df_temp.loc[i, ['Date', 'radiation_short','radiation_long']].to_dict()
        summer_df.append(summer_st)

# DataFrame으로 만들기
summer_start_df = pd.DataFrame(summer_df)

# CSV로 저장하기
summer_start_df.to_csv('summer_start_dates.csv', index=False)

여름 시작일: Date    1984-07-31
temp         25.19
Name: 212, dtype: object

여름 시작일: Date    1984-08-01
temp         25.01
Name: 213, dtype: object

여름 시작일: Date    1984-08-02
temp         25.14
Name: 214, dtype: object

여름 시작일: Date    1984-08-03
temp         25.82
Name: 215, dtype: object

여름 시작일: Date    1984-08-04
temp         26.48
Name: 216, dtype: object

여름 시작일: Date    1984-08-05
temp         26.81
Name: 217, dtype: object

여름 시작일: Date    1984-08-06
temp         26.45
Name: 218, dtype: object

여름 시작일: Date    1984-08-07
temp         26.16
Name: 219, dtype: object

여름 시작일: Date    1984-08-08
temp         26.93
Name: 220, dtype: object

여름 시작일: Date    1984-08-09
temp         27.96
Name: 221, dtype: object

여름 시작일: Date    1984-08-10
temp         28.75
Name: 222, dtype: object

여름 시작일: Date    1984-08-17
temp         25.07
Name: 229, dtype: object

여름 시작일: Date    1985-07-21
temp         25.02
Name: 567, dtype: object

여름 시작일: Date    1985-07-27
temp         25.75
Name: 573, dtype: object

여름 시작일: Date    1985-07-28
temp         27.13
Name: 574, dtype: object

여름 시작일: Date    1985-07-29
temp         27.89
Name: 575, dtype: object

여름 시작일: Date    1985-07-30
temp         27.37
Name: 576, dtype: object

여름 시작일: Date    1985-07-31
temp         27.29
Name: 577, dtype: object

여름 시작일: Date    1985-08-01
temp         25.92
Name: 578, dtype: object

여름 시작일: Date    1985-08-02
temp         25.05
Name: 579, dtype: object

여름 시작일: Date    1985-08-03
temp         25.89
Name: 580, dtype: object

여름 시작일: Date    1985-08-04
temp         25.37
Name: 581, dtype: object

여름 시작일: Date    1985-08-05
temp         25.77
Name: 582, dtype: object

여름 시작일: Date    1985-08-19
temp         25.42
Name: 596, dtype: object

여름 시작일: Date    1985-08-20
temp         26.02
Name: 597, dtype: object

여름 시작일: Date    1985-08-21
temp         25.25
Name: 598, dtype: object

여름 시작일: Date    1986-07-26
temp         26.17
Name: 937, dtype: object

여름 시작일: Date    1986-07-27
temp          26.6
Name: 938, dtype: object

여름 시작일: Date    1986-07-28
temp         26.27
Name: 939, dtype: object

여름 시작일: Date    1986-07-29
temp         25.33
Name: 940, dtype: object

여름 시작일: Date    1986-07-30
temp         25.85
Name: 941, dtype: object

여름 시작일: Date    1988-07-06
temp         25.62
Name: 1648, dtype: object

여름 시작일: Date    1988-07-07
temp         28.88
Name: 1649, dtype: object

여름 시작일: Date    1988-07-08
temp         28.99
Name: 1650, dtype: object

여름 시작일: Date    1988-07-09
temp         29.05
Name: 1651, dtype: object

여름 시작일: Date    1988-07-10
temp         27.85
Name: 1652, dtype: object

여름 시작일: Date    1988-08-02
temp         25.04
Name: 1675, dtype: object

여름 시작일: Date    1988-08-03
temp         26.43
Name: 1676, dtype: object

여름 시작일: Date    1988-08-04
temp         26.45
Name: 1677, dtype: object

여름 시작일: Date    1988-08-05
temp         25.73
Name: 1678, dtype: object

여름 시작일: Date    1988-08-06
temp         26.25
Name: 1679, dtype: object

여름 시작일: Date    1989-07-19
temp         25.74
Name: 2026, dtype: object

여름 시작일: Date    1989-07-20
temp          26.1
Name: 2027, dtype: object

여름 시작일: Date    1990-07-06
temp         25.67
Name: 2378, dtype: object

여름 시작일: Date    1990-07-21
temp         25.93
Name: 2393, dtype: object

여름 시작일: Date    1990-07-22
temp         25.93
Name: 2394, dtype: object

여름 시작일: Date    1990-07-23
temp         25.02
Name: 2395, dtype: object

여름 시작일: Date    1990-07-24
temp         25.65
Name: 2396, dtype: object

여름 시작일: Date    1990-07-25
temp         25.21
Name: 2397, dtype: object

여름 시작일: Date    1990-07-26
temp         26.04
Name: 2398, dtype: object

여름 시작일: Date    1990-07-27
temp         26.64
Name: 2399, dtype: object

여름 시작일: Date    1990-07-28
temp         28.08
Name: 2400, dtype: object

여름 시작일: Date    1990-07-29
temp         27.27
Name: 2401, dtype: object

여름 시작일: Date    1990-07-30
temp         25.77
Name: 2402, dtype: object

여름 시작일: Date    1990-07-31
temp         26.74
Name: 2403, dtype: object

여름 시작일: Date    1990-08-01
temp         26.57
Name: 2404, dtype: object

여름 시작일: Date    1990-08-02
temp         27.29
Name: 2405, dtype: object

여름 시작일: Date    1990-08-03
temp         27.96
Name: 2406, dtype: object

여름 시작일: Date    1990-08-04
temp         27.42
Name: 2407, dtype: object

여름 시작일: Date    1990-08-05
temp         27.48
Name: 2408, dtype: object

여름 시작일: Date    1990-08-06
temp         27.79
Name: 2409, dtype: object

여름 시작일: Date    1990-08-12
temp         25.55
Name: 2415, dtype: object

여름 시작일: Date    1992-07-20
temp         25.26
Name: 3123, dtype: object

여름 시작일: Date    1992-07-21
temp         25.76
Name: 3124, dtype: object

여름 시작일: Date    1992-07-22
temp         26.25
Name: 3125, dtype: object

여름 시작일: Date    1992-07-23
temp         26.38
Name: 3126, dtype: object

여름 시작일: Date    1992-07-24
temp         26.61
Name: 3127, dtype: object

여름 시작일: Date    1992-07-25
temp          26.4
Name: 3128, dtype: object

여름 시작일: Date    1992-07-26
temp          25.9
Name: 3129, dtype: object

여름 시작일: Date    1992-07-27
temp         26.24
Name: 3130, dtype: object

여름 시작일: Date    1994-07-01
temp         26.29
Name: 3834, dtype: object

여름 시작일: Date    1994-07-02
temp          25.7
Name: 3835, dtype: object

여름 시작일: Date    1994-07-03
temp         26.74
Name: 3836, dtype: object

여름 시작일: Date    1994-07-04
temp          26.6
Name: 3837, dtype: object

여름 시작일: Date    1994-07-05
temp         26.78
Name: 3838, dtype: object

여름 시작일: Date    1994-07-06
temp         27.59
Name: 3839, dtype: object

여름 시작일: Date    1994-07-07
temp         27.31
Name: 3840, dtype: object

여름 시작일: Date    1994-07-08
temp         27.74
Name: 3841, dtype: object

여름 시작일: Date    1994-07-09
temp         28.59
Name: 3842, dtype: object

여름 시작일: Date    1994-07-10
temp         28.97
Name: 3843, dtype: object

여름 시작일: Date    1994-07-11
temp         27.53
Name: 3844, dtype: object

여름 시작일: Date    1994-07-12
temp         28.98
Name: 3845, dtype: object

여름 시작일: Date    1994-07-13
temp         30.09
Name: 3846, dtype: object

여름 시작일: Date    1994-07-14
temp         29.75
Name: 3847, dtype: object

여름 시작일: Date    1994-07-15
temp         30.12
Name: 3848, dtype: object

여름 시작일: Date    1994-07-16
temp         29.57
Name: 3849, dtype: object

여름 시작일: Date    1994-07-17
temp         27.51
Name: 3850, dtype: object

여름 시작일: Date    1994-07-18
temp         28.14
Name: 3851, dtype: object

여름 시작일: Date    1994-07-19
temp         29.59
Name: 3852, dtype: object

여름 시작일: Date    1994-07-20
temp          30.0
Name: 3853, dtype: object

여름 시작일: Date    1994-07-21
temp         29.91
Name: 3854, dtype: object

여름 시작일: Date    1994-07-22
temp         29.52
Name: 3855, dtype: object

여름 시작일: Date    1994-07-23
temp         28.06
Name: 3856, dtype: object

여름 시작일: Date    1994-07-24
temp         28.17
Name: 3857, dtype: object

여름 시작일: Date    1994-07-25
temp         28.04
Name: 3858, dtype: object

여름 시작일: Date    1994-07-26
temp         25.76
Name: 3859, dtype: object

여름 시작일: Date    1994-07-27
temp         27.33
Name: 3860, dtype: object

여름 시작일: Date    1994-07-28
temp         27.63
Name: 3861, dtype: object

여름 시작일: Date    1994-07-29
temp         27.85
Name: 3862, dtype: object

여름 시작일: Date    1994-07-30
temp         27.33
Name: 3863, dtype: object

여름 시작일: Date    1994-07-31
temp         26.38
Name: 3864, dtype: object

여름 시작일: Date    1994-08-01
temp         26.28
Name: 3865, dtype: object

여름 시작일: Date    1994-08-02
temp         27.61
Name: 3866, dtype: object

여름 시작일: Date    1994-08-03
temp         27.86
Name: 3867, dtype: object

여름 시작일: Date    1994-08-04
temp         28.53
Name: 3868, dtype: object

여름 시작일: Date    1994-08-05
temp         29.17
Name: 3869, dtype: object

여름 시작일: Date    1994-08-06
temp         29.38
Name: 3870, dtype: object

여름 시작일: Date    1994-08-07
temp         29.13
Name: 3871, dtype: object

여름 시작일: Date    1994-08-08
temp          29.3
Name: 3872, dtype: object

여름 시작일: Date    1994-08-09
temp         27.85
Name: 3873, dtype: object

여름 시작일: Date    1994-08-10
temp         26.25
Name: 3874, dtype: object

여름 시작일: Date    1994-08-11
temp         27.01
Name: 3875, dtype: object

여름 시작일: Date    1994-08-12
temp         27.61
Name: 3876, dtype: object

여름 시작일: Date    1994-08-13
temp         28.23
Name: 3877, dtype: object

여름 시작일: Date    1994-08-14
temp         28.51
Name: 3878, dtype: object

여름 시작일: Date    1994-08-29
temp         25.13
Name: 3893, dtype: object

여름 시작일: Date    1994-08-30
temp         27.06
Name: 3894, dtype: object

여름 시작일: Date    1994-08-31
temp         27.32
Name: 3895, dtype: object

여름 시작일: Date    1994-09-01
temp         27.09
Name: 3896, dtype: object

여름 시작일: Date    1995-07-09
temp         25.09
Name: 4207, dtype: object

여름 시작일: Date    1995-07-10
temp         25.72
Name: 4208, dtype: object

여름 시작일: Date    1995-07-11
temp         25.41
Name: 4209, dtype: object

여름 시작일: Date    1995-07-12
temp         26.11
Name: 4210, dtype: object

여름 시작일: Date    1995-07-27
temp         25.38
Name: 4225, dtype: object

여름 시작일: Date    1995-07-28
temp         25.78
Name: 4226, dtype: object

여름 시작일: Date    1995-07-29
temp         25.48
Name: 4227, dtype: object

여름 시작일: Date    1995-07-30
temp         25.66
Name: 4228, dtype: object

여름 시작일: Date    1995-07-31
temp         26.27
Name: 4229, dtype: object

여름 시작일: Date    1995-08-01
temp         27.09
Name: 4230, dtype: object

여름 시작일: Date    1995-08-02
temp         27.58
Name: 4231, dtype: object

여름 시작일: Date    1995-08-03
temp         27.57
Name: 4232, dtype: object

여름 시작일: Date    1995-08-04
temp         27.58
Name: 4233, dtype: object

여름 시작일: Date    1995-08-05
temp         28.13
Name: 4234, dtype: object

여름 시작일: Date    1995-08-06
temp         28.07
Name: 4235, dtype: object

여름 시작일: Date    1995-08-07
temp         28.39
Name: 4236, dtype: object

여름 시작일: Date    1995-08-08
temp         27.12
Name: 4237, dtype: object

여름 시작일: Date    1995-08-09
temp         26.01
Name: 4238, dtype: object

여름 시작일: Date    1995-08-10
temp          26.3
Name: 4239, dtype: object

여름 시작일: Date    1995-08-11
temp          27.1
Name: 4240, dtype: object

여름 시작일: Date    1995-08-12
temp         28.49
Name: 4241, dtype: object

여름 시작일: Date    1995-08-13
temp         29.02
Name: 4242, dtype: object

여름 시작일: Date    1995-08-14
temp         29.56
Name: 4243, dtype: object

여름 시작일: Date    1995-08-15
temp          27.7
Name: 4244, dtype: object

여름 시작일: Date    1995-08-21
temp         25.01
Name: 4250, dtype: object

여름 시작일: Date    1995-08-22
temp         25.65
Name: 4251, dtype: object

여름 시작일: Date    1996-07-22
temp         25.33
Name: 4586, dtype: object

여름 시작일: Date    1996-07-23
temp         25.39
Name: 4587, dtype: object

여름 시작일: Date    1996-07-29
temp         25.92
Name: 4593, dtype: object

여름 시작일: Date    1996-07-30
temp         27.05
Name: 4594, dtype: object

여름 시작일: Date    1996-07-31
temp         26.87
Name: 4595, dtype: object

여름 시작일: Date    1998-07-06
temp         25.27
Name: 5300, dtype: object

여름 시작일: Date    1998-08-01
temp          25.2
Name: 5326, dtype: object

여름 시작일: Date    1998-08-02
temp          25.7
Name: 5327, dtype: object

여름 시작일: Date    1998-08-03
temp         26.06
Name: 5328, dtype: object

여름 시작일: Date    1998-08-04
temp          26.8
Name: 5329, dtype: object

여름 시작일: Date    1998-08-05
temp         26.92
Name: 5330, dtype: object

여름 시작일: Date    1998-08-06
temp         26.82
Name: 5331, dtype: object

여름 시작일: Date    1998-08-07
temp         26.92
Name: 5332, dtype: object

여름 시작일: Date    1998-08-08
temp         26.61
Name: 5333, dtype: object

여름 시작일: Date    1998-08-09
temp         26.01
Name: 5334, dtype: object

여름 시작일: Date    1998-08-10
temp         26.31
Name: 5335, dtype: object

여름 시작일: Date    1998-08-11
temp         26.31
Name: 5336, dtype: object

여름 시작일: Date    1998-08-12
temp         26.06
Name: 5337, dtype: object

여름 시작일: Date    2000-07-16
temp         25.22
Name: 6041, dtype: object

여름 시작일: Date    2000-07-17
temp         26.17
Name: 6042, dtype: object

여름 시작일: Date    2000-07-18
temp          26.3
Name: 6043, dtype: object

여름 시작일: Date    2001-07-21
temp         25.66
Name: 6411, dtype: object

여름 시작일: Date    2001-07-22
temp         26.59
Name: 6412, dtype: object

여름 시작일: Date    2001-07-23
temp         27.13
Name: 6413, dtype: object

여름 시작일: Date    2001-07-24
temp          26.9
Name: 6414, dtype: object

여름 시작일: Date    2001-07-25
temp         25.91
Name: 6415, dtype: object

여름 시작일: Date    2001-07-26
temp         25.97
Name: 6416, dtype: object

여름 시작일: Date    2001-07-27
temp         25.59
Name: 6417, dtype: object

여름 시작일: Date    2001-07-28
temp         25.79
Name: 6418, dtype: object

여름 시작일: Date    2001-07-29
temp         26.83
Name: 6419, dtype: object

여름 시작일: Date    2001-07-30
temp         26.59
Name: 6420, dtype: object

여름 시작일: Date    2001-07-31
temp         26.21
Name: 6421, dtype: object

여름 시작일: Date    2001-08-01
temp         26.73
Name: 6422, dtype: object

여름 시작일: Date    2001-08-02
temp         27.18
Name: 6423, dtype: object

여름 시작일: Date    2001-08-03
temp         28.02
Name: 6424, dtype: object

여름 시작일: Date    2001-08-04
temp         28.23
Name: 6425, dtype: object

여름 시작일: Date    2002-07-12
temp         25.31
Name: 6767, dtype: object

여름 시작일: Date    2002-07-29
temp         26.34
Name: 6784, dtype: object

여름 시작일: Date    2002-07-30
temp         27.47
Name: 6785, dtype: object

여름 시작일: Date    2002-07-31
temp         27.97
Name: 6786, dtype: object

여름 시작일: Date    2002-08-01
temp         27.22
Name: 6787, dtype: object

여름 시작일: Date    2002-08-02
temp         26.33
Name: 6788, dtype: object

여름 시작일: Date    2004-07-18
temp         25.68
Name: 7504, dtype: object

여름 시작일: Date    2004-07-19
temp         26.13
Name: 7505, dtype: object

여름 시작일: Date    2004-07-20
temp         26.64
Name: 7506, dtype: object

여름 시작일: Date    2004-07-21
temp         26.63
Name: 7507, dtype: object

여름 시작일: Date    2004-07-22
temp         26.74
Name: 7508, dtype: object

여름 시작일: Date    2004-07-23
temp          26.7
Name: 7509, dtype: object

여름 시작일: Date    2004-07-24
temp          27.2
Name: 7510, dtype: object

여름 시작일: Date    2004-07-25
temp         25.69
Name: 7511, dtype: object

여름 시작일: Date    2004-07-26
temp         25.26
Name: 7512, dtype: object

여름 시작일: Date    2004-07-27
temp         25.71
Name: 7513, dtype: object

여름 시작일: Date    2004-08-02
temp         25.42
Name: 7519, dtype: object

여름 시작일: Date    2004-08-03
temp         25.01
Name: 7520, dtype: object

여름 시작일: Date    2004-08-04
temp         26.09
Name: 7521, dtype: object

여름 시작일: Date    2004-08-05
temp         25.65
Name: 7522, dtype: object

여름 시작일: Date    2004-08-06
temp         26.73
Name: 7523, dtype: object

여름 시작일: Date    2005-06-21
temp         25.41
Name: 7842, dtype: object

여름 시작일: Date    2005-07-18
temp         25.29
Name: 7869, dtype: object

여름 시작일: Date    2005-07-19
temp         25.79
Name: 7870, dtype: object

여름 시작일: Date    2005-07-31
temp         25.56
Name: 7882, dtype: object

여름 시작일: Date    2005-08-01
temp         25.84
Name: 7883, dtype: object

여름 시작일: Date    2005-08-02
temp          25.7
Name: 7884, dtype: object

여름 시작일: Date    2005-08-03
temp         25.59
Name: 7885, dtype: object

여름 시작일: Date    2005-08-04
temp         26.85
Name: 7886, dtype: object

여름 시작일: Date    2005-08-05
temp         26.19
Name: 7887, dtype: object

여름 시작일: Date    2005-08-11
temp         25.35
Name: 7893, dtype: object

여름 시작일: Date    2005-08-12
temp         26.16
Name: 7894, dtype: object

여름 시작일: Date    2005-08-13
temp         26.12
Name: 7895, dtype: object

여름 시작일: Date    2006-07-12
temp         25.69
Name: 8228, dtype: object

여름 시작일: Date    2006-07-28
temp         25.26
Name: 8244, dtype: object

여름 시작일: Date    2006-07-29
temp          25.2
Name: 8245, dtype: object

여름 시작일: Date    2006-07-30
temp         25.87
Name: 8246, dtype: object

여름 시작일: Date    2006-07-31
temp         25.84
Name: 8247, dtype: object

여름 시작일: Date    2006-08-01
temp         26.17
Name: 8248, dtype: object

여름 시작일: Date    2006-08-02
temp         26.69
Name: 8249, dtype: object

여름 시작일: Date    2006-08-03
temp          27.2
Name: 8250, dtype: object

여름 시작일: Date    2006-08-04
temp          27.4
Name: 8251, dtype: object

여름 시작일: Date    2006-08-05
temp         27.18
Name: 8252, dtype: object

여름 시작일: Date    2006-08-06
temp          26.4
Name: 8253, dtype: object

여름 시작일: Date    2006-08-07
temp         26.87
Name: 8254, dtype: object

여름 시작일: Date    2006-08-08
temp         27.23
Name: 8255, dtype: object

여름 시작일: Date    2006-08-09
temp         27.01
Name: 8256, dtype: object

여름 시작일: Date    2006-08-10
temp          27.4
Name: 8257, dtype: object

여름 시작일: Date    2006-08-11
temp         25.92
Name: 8258, dtype: object

여름 시작일: Date    2006-08-12
temp         26.13
Name: 8259, dtype: object

여름 시작일: Date    2007-07-25
temp         25.92
Name: 8606, dtype: object

여름 시작일: Date    2007-08-08
temp         25.19
Name: 8620, dtype: object

여름 시작일: Date    2007-08-09
temp         26.02
Name: 8621, dtype: object

여름 시작일: Date    2007-08-10
temp         25.78
Name: 8622, dtype: object

여름 시작일: Date    2007-08-11
temp          25.5
Name: 8623, dtype: object

여름 시작일: Date    2007-08-12
temp         25.13
Name: 8624, dtype: object

여름 시작일: Date    2007-08-13
temp         25.43
Name: 8625, dtype: object

여름 시작일: Date    2007-08-14
temp         25.87
Name: 8626, dtype: object

여름 시작일: Date    2007-08-15
temp         25.92
Name: 8627, dtype: object

여름 시작일: Date    2007-08-16
temp         26.26
Name: 8628, dtype: object

여름 시작일: Date    2007-08-17
temp         27.08
Name: 8629, dtype: object

여름 시작일: Date    2007-08-18
temp         26.99
Name: 8630, dtype: object

여름 시작일: Date    2008-07-06
temp         26.54
Name: 8953, dtype: object

여름 시작일: Date    2008-07-07
temp          27.2
Name: 8954, dtype: object

여름 시작일: Date    2008-07-13
temp         25.89
Name: 8960, dtype: object

여름 시작일: Date    2008-07-14
temp         26.24
Name: 8961, dtype: object

여름 시작일: Date    2008-07-15
temp         25.65
Name: 8962, dtype: object

여름 시작일: Date    2008-07-16
temp         26.01
Name: 8963, dtype: object

여름 시작일: Date    2008-07-17
temp         26.52
Name: 8964, dtype: object

여름 시작일: Date    2008-07-18
temp         26.87
Name: 8965, dtype: object

여름 시작일: Date    2008-07-19
temp         25.92
Name: 8966, dtype: object

여름 시작일: Date    2008-07-20
temp         26.66
Name: 8967, dtype: object

여름 시작일: Date    2008-07-21
temp          26.2
Name: 8968, dtype: object

여름 시작일: Date    2008-07-22
temp         25.77
Name: 8969, dtype: object

여름 시작일: Date    2008-07-23
temp         26.09
Name: 8970, dtype: object

여름 시작일: Date    2008-07-24
temp         26.68
Name: 8971, dtype: object

여름 시작일: Date    2008-07-25
temp         26.06
Name: 8972, dtype: object

여름 시작일: Date    2008-07-26
temp         25.52
Name: 8973, dtype: object

여름 시작일: Date    2008-07-27
temp         25.74
Name: 8974, dtype: object

여름 시작일: Date    2008-07-28
temp         26.64
Name: 8975, dtype: object

여름 시작일: Date    2008-07-29
temp         26.85
Name: 8976, dtype: object

여름 시작일: Date    2008-07-30
temp         25.06
Name: 8977, dtype: object

여름 시작일: Date    2008-07-31
temp         27.05
Name: 8978, dtype: object

여름 시작일: Date    2008-08-01
temp         26.75
Name: 8979, dtype: object

여름 시작일: Date    2008-08-09
temp         25.14
Name: 8987, dtype: object

여름 시작일: Date    2008-08-10
temp         25.92
Name: 8988, dtype: object

여름 시작일: Date    2010-07-19
temp          25.3
Name: 9696, dtype: object

여름 시작일: Date    2010-07-20
temp         25.14
Name: 9697, dtype: object

여름 시작일: Date    2010-07-29
temp         25.99
Name: 9706, dtype: object

여름 시작일: Date    2010-07-30
temp         26.97
Name: 9707, dtype: object

여름 시작일: Date    2010-07-31
temp         26.89
Name: 9708, dtype: object

여름 시작일: Date    2010-08-01
temp         27.81
Name: 9709, dtype: object

여름 시작일: Date    2010-08-02
temp         27.86
Name: 9710, dtype: object

여름 시작일: Date    2010-08-03

In [12]:
# # Z-score 표준화
# from sklearn.preprocessing import StandardScaler



# # StandardScaler
# columns_to_scale = ["radiation_short", "radiation_long", "temp"]
# scaler = StandardScaler()
# df_scaled_values = scaler.fit_transform(df[columns_to_scale])

# df_scaled = df.copy()
# df_scaled[columns_to_scale] = df_scaled_values


# df_scaled.set_index(df_scaled.year,inplace=True)
# df_scaled